
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster|Megrim|Pompiere|Yesteryear');
.borrow-book-content{
    padding: 5%;
    padding-top: 10%;
    margin-left: 9%;
}
.borrow-image{
    padding-left: 5%;
    margin-right: 10%;
    padding-bottom: 5%;
}
.borrow-book-content h3{
    font-family: "Lobster";
}
.borrow-book-content p{
    font-family: "Pompiere";
    font-size: 1.3em;
    font-weight: bolder;
}
.borrow-book-content button{
    border: none;
    min-width: 200px;
    width: 20%;
    height: 50px;
    color: white;
    background-color: #111;
    font-family: "Amatic SC";
    font-size: 1.4em;
}
.borrow-book-content button:hover{
    background-color: green;
    opacity: 0.5;
}